@model List<WebsiteBanHang.Context.Product>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-wrapper">
    <h4>Thanh toán thành công</h4>
    <a href="/" class="btn btn-light"> <i class="fa fa-chevron-left"></i>Tiếp tục đặt hàng</a>
</section>

