<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:3500px; margin-left:50px;">
        <article class="card-body">
            <div class="content-wrapper">
                <header class="mb-4"><h2 class="text-danger">@ViewBag.error</h2></header>
                <body>
                    <hgroup>
                        <h2>Thao tác đã bị lỗi vui lòng bạn thực hiện lại tao tác ^-^</h2>
                    </hgroup>
                </body>
            </div>
        </article>
    </div>
</section>