@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanHang.Context.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.428571429;
                text-decoration: none;
                background-color: #ffffff;
                border: 1px solid #dddddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > span:hover,
            .pagination > li > a:focus,
            .pagination > li > span:focus {
                background-color: #eeeeee;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #ffffff;
            cursor: default;
            background-color: #428bca;
            border-color: #428bca;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #999999;
            cursor: not-allowed;
            background-color: #ffffff;
            border-color: #dddddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 10px;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
    }

        .pager:before,
        .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager:before,
        .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager li {
            display: inline;
        }

            .pager li > a,
            .pager li > span {
                display: inline-block;
                padding: 5px 14px;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                border-radius: 15px;
            }

                .pager li > a:hover,
                .pager li > a:focus {
                    text-decoration: none;
                    background-color: #eeeeee;
                }

        .pager .next > a,
        .pager .next > span {
            float: left;
        }

        .pager .disabled > a,
        .pager .disabled > a:hover,
        .pager .disabled > a:focus,
        .pager .disabled > span {
            color: #999999;
            cursor: not-allowed;
            background-color: #ffffff;
        }
</style>
<section class="section-content padding-y">
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a>Sản phẩm giảm giá</a></li>
                </ol>
            </div>  
        </div> 


        <div class="row">
            <aside class="col-md-2">

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">Danh mục</a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_1">
                        <div class="inner">
                            <ul class="list-menu">
                                <li><a href="#">Sport Bike</a></li>
                                <li><a href="#">CRUISER BIKE</a></li>
                                <li><a href="#">NAKED BIKE</a></li>
                                <li><a href="#">SPORT TOURING BIKE</a></li>
                                <li><a href="#">OFF ROAD BIKE</a></li>
                            </ul>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group  .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Thương hiệu </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="inner">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    HONDA
                                    <b class="badge badge-pill badge-light float-right">120</b>
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    KAWASAKI
                                    <b class="badge badge-pill badge-light float-right">15</b>
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    YAMAHA
                                    <b class="badge badge-pill badge-light float-right">35</b>
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                    SUZUKI
                                    <b class="badge badge-pill badge-light float-right">89</b>
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    DUACATI
                                    <b class="badge badge-pill badge-light float-right">30</b>
                                </div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">
                                    BMW
                                    <b class="badge badge-pill badge-light float-right">30</b>
                                </div>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->

            </aside> <!-- col.// -->
            <main class="col-md-10">


                <header class="mb-3">
                    <div class="form-inline">
                        <strong class="mr-md-auto">Số sản phẩm:  @Session["countPagePro"] </strong>
                        <select class="mr-2 form-control">
                            <option>Sản phẩm mới nhất</option>
                            <option>Xu hướng</option>
                            <option>Phổ biết nhất</option>
                        </select>
                        <div class="btn-group">
                            <a href="#" class="btn btn-light" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="#" class="btn btn-light active" data-toggle="tooltip" title="Grid view">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- sect-heading -->
                @if (Model.Count() < 1)
                {
                    <article class="card card-product-list">
                        <div><p>Hiện chưa có sản phẩm.</p></div>
                    </article>
                }
                @foreach (var item in Model)
                {
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="/san-pham-@item.Slug/@item.Id" class="img-wrap">
                                    <span class="badge badge-danger">
                                        @{
                                            string price = item.Price.ToString();
                                            string disprice = item.PriceDiscount.ToString();
                                            double pri = Convert.ToDouble(price);
                                            double dispri = Convert.ToDouble(disprice);
                                            int sale = Convert.ToInt32((((pri - dispri) * 100) / pri));
                                        }
                                        -@sale%
                                    </span>
                                    <img src="~/Content/images/product/@item.Avatar">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="/san-pham-@item.Slug/@item.Id" class="h5 title">@item.Name</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 5 Years </span>
                                        <span class="tag"> 80 reviews </span>
                                    </p>

                                    <p>
                                        @item.FullDescription
                                    </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">

                                        @if (item.PriceDiscount != null)
                                        {
                                            <del class="h6 price">$@item.Price</del>
                                            <span class="h5 price text-danger">$@item.PriceDiscount</span>
                                            <small class="text-muted">/mỗi sản phẩm</small>

                                        }
                                        @if (item.PriceDiscount == null)
                                        {
                                            <span class="h5 price">$@item.Price</span>
                                            <small class="text-muted">/mỗi sản phẩm</small>
                                        }

                                    </div> <!-- price-wrap.// -->
                                    <small class="text-warning">Paid shipping</small>

                                    <p class="text-muted mt-3">Grand textile Co</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">
                                            Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                }


                <nav class="mb-4" aria-label="Page navigation sample">
                    @Html.PagedListPager(Model, page => Url.Action("Product", new { page, currentFiler = ViewBag.CurrentFiler }))
                </nav>


                <div class="box text-center">
                    <p>Bạn có tìm thấy những gì bạn đang tìm kiếm không？</p>
                    <a href="" class="btn btn-light">Có</a>
                    <a href="" class="btn btn-light">Không</a>
                </div>


            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>

<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
